<div class="sign reset">
  <div class="sign__container">
    <a href="/"><img class="sign__logo" src="/images/logo.png" alt="logo" /></a>
    <h3 class="sign__title">POPCORN TIME</h3>
    {{#if message}}
      <div class="error">{{message}}</div>
    {{/if}}
  </div>
</div>