<section id="trending-movies">
  <h2>Trending Movies</h2>
  {{>movieswiper.partial this.trendingMovies}}
</section>
<section id="popular-movies">
  <h2>Top Rated Movies</h2>
      {{>movieswiper.partial this.popularMovies}}
</section>
