<div class="actor swiper-slide">
  <img src="{{this.profile_img}}" alt="{{name}}" class="actor__img" />
  <div class="actor__titles">
    <h6 class="actor__name">{{this.name}}</h6>
    <h6 class="actor__character">{{this.character}}</h6>
  </div>
</div>