
<div class="swiper-container swiper">
    <div class="swiper-wrapper">
      {{#each this}}
        {{>moviecard.partial this}}
      {{/each}}
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
</div>
