<dialog id="rateModal">
  <form method="dialog">
    <h3>Rate the movie</h3>
    <div class="rating">
      <button value="1"><iconify-icon
          class="rating__heart icon icon--red"
          icon="mdi:heart-outline"
        ></iconify-icon></button>
      <button value="2"><iconify-icon
          class="rating__heart icon icon--red"
          icon="mdi:heart-outline"
        ></iconify-icon></button>
      <button value="3"><iconify-icon
          class="rating__heart icon icon--red"
          icon="mdi:heart-outline"
        ></iconify-icon></button>
      <button value="4"><iconify-icon
          class="rating__heart icon icon--red"
          icon="mdi:heart-outline"
        ></iconify-icon></button>
      <button value="5"><iconify-icon
          class="rating__heart icon icon--red"
          icon="mdi:heart-outline"
        ></iconify-icon></button>
      <button value="6"><iconify-icon
          class="rating__heart icon icon--red"
          icon="mdi:heart-outline"
        ></iconify-icon></button>
      <button value="7"><iconify-icon
          class="rating__heart icon icon--red"
          icon="mdi:heart-outline"
        ></iconify-icon></button>
      <button value="8"><iconify-icon
          class="rating__heart icon icon--red"
          icon="mdi:heart-outline"
        ></iconify-icon></button>
      <button value="9"><iconify-icon
          class="rating__heart icon icon--red"
          icon="mdi:heart-outline"
        ></iconify-icon></button>
      <button value="10"><iconify-icon
          class="rating__heart icon icon--red"
          icon="mdi:heart-outline"
        ></iconify-icon></button>

    </div>

  </form>
</dialog>