<div id="dashboard">
    <section class="hero welcome">
        <div class="hero__content">
            <div class="welcome__content">
                <img class="hero__logo avatar" src="{{user.avatar}}" alt="avatar">
                <h1 class="hero__title">Welcome, {{user.username}}</h1>
            </div>
            <div class="recommandations__content">
                <h4 class="hero__title">Looking for a <span>great movie</span> based on your <span>preferred movies</span> ?</h4>
                {{#if userMoviesRecommandations}}
                <h3 class="hero__title underline">Our recommandations</h3>
                <div class="recommandations__movies">
                    {{>recommandations/recommandationsmovies userMoviesRecommandations}}
                </div>
                <a class="btn btn--primary">Refresh recommandations</a>
                {{else}}
                <h4 class="hero__title">Rate a minimum of <span>3 movies</span> and enjoy our <span>magical recommandations !</span></h4>
                {{/if}}

            </div>
        </div>
    </section>
    {{#if watchListMovies}}
    <section id="watchlist-movies">
        <h2>Your Watchlist</h2>
        {{>movieswiper.partial watchListMovies}}
    </section>
    {{/if}}
    {{>featuredmovies.partial featuredMovies}}
</div>

{{#extend "css"}}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
{{/extend}}
{{#extend "scripts"}}
  <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
  <script src="/js/swiper.js"></script>
  <script src="/js/movie.js"></script>
{{/extend}}