:root {
  --primary-color: #2c57a7;
  --primary-color-hover: #007bef;
  --secondary-color: #444;
  --secondary-color-hover: #007bef;
  --error-color: #a94442;
  --error-color-bg: #f2dede;
  --swiper-theme-color: #fff;
  --label-color: #959595;
  --actions-color: #1d1d1d;
}
*:not(dialog) {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main {
  flex-grow: 1;
}

section {
  margin-bottom: 1rem;
}

dialog::backdrop {
  background: rgb(0 0 0 / 0.4);
}

h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.1rem;
}
a {
  text-decoration: none;
  color: var(--primary-color);
}
a:hover {
  text-decoration: underline;
}
.icon {
  width: 20px;
  height: 20px;
  color: var(--primary-color);
}
.icon--purple {
  color: #8e44ad;
}
.icon--blue {
  color: #2b678f;
}
img {
  display: block;
  width: auto;
  height: 100%;
}
.btn {
  margin-bottom: 1rem;
  padding: 1rem;
  border: 0;
  box-shadow: 0 10px 10px rgb(0 0 0 / 0.2);
  cursor: pointer;
}
.btn--full-width {
  width: 100%;
}
.btn--primary {
  background-color: var(--primary-color);
  color: white;
}
.btn--primary:hover {
  background-color: var(--primary-color-hover);
}
.btn--secondary {
  background-color: var(--secondary-color);
  color: white;
}
.btn--secondary:hover {
  background-color: var(--secondary-color-hover);
}
.error {
  background-color: var(--error-color-bg);
  color: var(--error-color);
  padding: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}
.logo {
  height: 3rem;
}
.avatar {
  border: 3px solid white;
  border-radius: 50%;
}
.icon__withtooltip {
  position: relative;
}
.icon__withtooltip .tooltiptext {
  position: absolute;
  z-index: 1;
  visibility: hidden;
  background-color: var(--actions-color);
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  width: 8rem;
  bottom: 100%;
  left: 50%;
  transform: translate(-50%);
  font-size: 0.8rem;
}

.icon__withtooltip:hover .tooltiptext {
  visibility: visible;
}
/*
██ ███    ██ ██████  ██    ██ ████████     
██ ████   ██ ██   ██ ██    ██    ██        
██ ██ ██  ██ ██████  ██    ██    ██        
██ ██  ██ ██ ██      ██    ██    ██        
██ ██   ████ ██       ██████     ██        
*/
.input__container {
  position: relative;
}
.input__field {
  font-size: 1rem;
  padding: 1rem 2.5rem;
  width: 100%;
}
.input__icon {
  position: absolute;
  left: 0.8rem;
  top: 50%;
  transform: translateY(-50%);
}
.input__forgot {
  position: absolute;
  right: 0.8rem;
  top: 50%;
  transform: translateY(-50%);
  color: var(--primary-color);
  font-size: 0.8rem;
}

/*
███████ ██  ██████  ███    ██     
██      ██ ██       ████   ██     
███████ ██ ██   ███ ██ ██  ██     
     ██ ██ ██    ██ ██  ██ ██     
███████ ██  ██████  ██   ████     */

.sign {
  position: relative;
  height: 100vh;
  background-color: black;
}
.login {
  background: url("../images/login-background.jpg") no-repeat center center / cover;
}
.signup {
  background: url("../images/signup-background.png") no-repeat center center / cover;
}
.reset {
  background: url("../images/reset-background.jpg") no-repeat center center / cover;
}
.sign__container {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -20%);
  width: 22rem;
  background-color: white;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 0 15px 10px rgb(0 0 0 / 0.2);
}
.sign__title {
  text-align: center;
}
.sign__form {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.sign__logo {
  position: absolute;
  left: 50%;
  top: -3rem;
  transform: translate(-50%, 0);
  height: 5rem;
}

.sign__bottom {
  font-size: 0.9rem;
  padding-top: 1rem;
  border-top: 1px solid grey;
  text-align: center;
}
/*
██   ██ ███████  █████  ██████  ███████ ██████  
██   ██ ██      ██   ██ ██   ██ ██      ██   ██ 
███████ █████   ███████ ██   ██ █████   ██████  
██   ██ ██      ██   ██ ██   ██ ██      ██   ██ 
██   ██ ███████ ██   ██ ██████  ███████ ██   ██ */
.header {
  position: sticky;
  background: var(--primary-color);
  top: 0;
  padding-block: 0.5rem;
  padding-inline: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  z-index: 1000;
}
.header.fixed {
  position: fixed;
  background: rgba(44, 87, 167, 0.5);
}
.header__search {
  padding-block: 0.5rem;
}
.header__signin {
  color: white;
  font-size: 0.8rem;
}
.header__avatar {
  height: 30px;
}

/*
███████  ██████   ██████  ████████ ███████ ██████  
██      ██    ██ ██    ██    ██    ██      ██   ██ 
█████   ██    ██ ██    ██    ██    █████   ██████  
██      ██    ██ ██    ██    ██    ██      ██   ██ 
██       ██████   ██████     ██    ███████ ██   ██ */
.footer {
  background-color: var(--primary-color);
  padding-block: 0.5rem;
  padding-inline: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.footer__title {
  color: white;
}

/*
██   ██ ███████ ██████   ██████      
██   ██ ██      ██   ██ ██    ██     
███████ █████   ██████  ██    ██     
██   ██ ██      ██   ██ ██    ██     
██   ██ ███████ ██   ██  ██████      */
.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../images/homepage-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 60vh;
  color: white;
}
.hero__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 25rem;
  margin: auto;
  text-align: center;
  gap: 1rem;
}
.hero__logo {
  height: 6rem;
}
.hero.movie-detail {
  background-position: 50% 10%;
  height: 50vh;
}
.hero.movie-detail .hero__content {
  height: 50vh;
  width: min(100ch, calc(100% - 3rem));
  justify-content: flex-end;
  align-items: flex-start;
}
.hero.movie-detail .hero__title {
  margin-left: 4rem;
}
@media screen and (min-width: 768px) {
  .hero.movie-detail .hero__title {
    margin-left: 11rem;
  }
}
#dashboard .hero {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../images/dashboard-background.jpg");
}
#dashboard .hero__content {
  backdrop-filter: blur(4px);
  height: 60vh;
  width: auto;
  flex-direction: row;
}
#dashboard .hero__logo {
  width: 4rem;
  height: auto;
}

/*
███████ ██     ██ ██ ██████  ███████ ██████      
██      ██     ██ ██ ██   ██ ██      ██   ██     
███████ ██  █  ██ ██ ██████  █████   ██████      
     ██ ██ ███ ██ ██ ██      ██      ██   ██     
███████  ███ ███  ██ ██      ███████ ██   ██     */
.swiper {
  width: 100%;
  height: auto;
}
.swiper-slide {
  position: relative;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.swiper-slide img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
.swiper-title {
  color: white;
  font-weight: normal;
  position: absolute;
  bottom: 2.5rem;
  left: 0.8rem;
  text-shadow: 0 0 20px #000;
}

.swiper-title:hover {
  text-decoration: underline;
}

/*
███    ███  ██████  ██    ██ ██ ███████     ██      ██ ███████ ████████ 
████  ████ ██    ██ ██    ██ ██ ██          ██      ██ ██         ██    
██ ████ ██ ██    ██ ██    ██ ██ █████       ██      ██ ███████    ██    
██  ██  ██ ██    ██  ██  ██  ██ ██          ██      ██      ██    ██    
██      ██  ██████    ████   ██ ███████     ███████ ██ ███████    ██    */
.movies-search-resultsInfo {
  margin-block: 1rem;
}
.movies-list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
@media screen and (min-width: 768px) {
  .movies-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1024px) {
  .movies-list {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 1440px) {
  .movies-list {
    grid-template-columns: repeat(4, 1fr);
  }
}
/*
███    ███  ██████  ██    ██ ██ ███████     
████  ████ ██    ██ ██    ██ ██ ██          
██ ████ ██ ██    ██ ██    ██ ██ █████       
██  ██  ██ ██    ██  ██  ██  ██ ██          
██      ██  ██████    ████   ██ ███████     */

.movie__container {
  width: min(100ch, calc(100% - 3rem));
  margin-inline: auto;
  display: flex;
}
.movie__poster {
  max-width: 100%;
  height: auto;
  border: solid 3px #fff;
  box-shadow: 0 0 20px 0 #666;
  margin-top: -4rem;
}
@media screen and (min-width: 768px) {
  .movie__poster {
    margin-top: -150px;
  }
}
.movie__watchnow {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.movie__watchnow .icon {
  color: white;
}
.movie__providers {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
}
.movie__provider {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.movie__provider-title {
  font-size: 0.8rem;
}
.btn__watchnow {
  padding: 0.5rem;
}
.btn__watchnow--close {
  position: absolute;
  right: 0.3rem;
  top: 0.3rem;
}
.movie__sidebar {
  width: 10rem;
}
.movie__content {
  margin: 1rem;
  max-width: 80%;
}
.movie__content > * {
  margin-bottom: 1.5rem;
}
.movie__info {
  list-style: none;
  margin-bottom: 1rem;
}
.movie__info li {
  display: inline-block;
  line-height: 1.5;
  margin-right: 1.2rem;
}
.movie__info li span {
  text-transform: uppercase;
  color: var(--label-color);
}
.movie__actions {
  background-color: var(--actions-color);
  height: 2rem;
  width: 100%;
  display: flex;
  align-items: center;
}
.movie__actors .swiper {
  text-align: center;
}
.actor__name {
  color: var(--label-color);
}
.action {
  display: flex;
  width: 2rem;
  height: 2rem;
  align-items: center;
  justify-content: center;
}
.watch:hover,
.watch.selected {
  background-color: #8e44ad;
}
.watchList:hover,
.watchList.selected {
  background-color: #2b678f;
}

.watch:hover .icon,
.watchList:hover .icon,
.watch.selected .icon,
.watchList.selected .icon {
  color: white;
}
